[submodule "evil"]
	path = local/evil
	url = git@github.com:ChoppinBlockParty/evil.git
[submodule "local/avy"]
	path = local/avy
	url = git@github.com:ChoppinBlockParty/avy.git
[submodule "local/emacs-ycmd"]
	path = local/emacs-ycmd
	url = git@github.com:ChoppinBlockParty/emacs-ycmd.git
