*

!/.cache
!/cache/*

!/cask
!/cask/*
!/cask/**/*

!/configs
!/configs/*.el

!/local
!/local/**
!/local/**/*.el

!/screenshots
!/screenshots/*.jpg

!/themes
!/themes/*.el

!/tools
!/tools/*.sh

!.gitignore
!init.el
!readme.md
!ycmd_default_settings.json
