[submodule "evil"]
	path = local/evil
	url = https://github.com/ChoppinBlockParty/evil
[submodule "local/avy"]
	path = local/avy
	url = https://github.com/ChoppinBlockParty/avy
[submodule "local/emacs-ycmd"]
	path = local/emacs-ycmd
	url = https://github.com/ChoppinBlockParty/emacs-ycmd
