*

!/.cache
!/cache/*

!/cask
!/cask/*
!/cask/**/*

!/configs
!/configs/*.el

!/local
!/local/**
!/local/**/*.el

!/themes
!/themes/*.el

!/tools
!/tools/*.sh

!.gitignore
!init.el
!init_zsh.sh
!readme.md
